/*---Reset Start --*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}




/*---Reset End --*/

body {
background:url(images/threadfull_foot.jpg) bottom repeat-x white;
}
h1 a {
width:205px;
height:69px;
text-indent:-9999px;
display:block;
background:url(images/main_logo.png);
}
h2, h2 a {
color:#1b325f;
font-family: 'Droid Serif', arial, serif;
}
h2 a:hover {
color:#ea1e79;  
}
h3 {
font-family: 'Droid Serif', arial, serif;
}
p {
font-family:Arial, sans-serif;
line-height:20px;
color:#444;
}
a {
text-decoration:none;
color:#085492;
}
a:hover {
text-decoration:none;
color:#ea1e79;
}
img {
border:3px solid #ddd;
}
img:hover {
border:3px solid #B1D3EE;
}
#top-bar {
width:100%;
height:39px;
background:url(images/top_bar_bg.png) repeat-x;
}
#top-bar-inner {
  width:980px;
  margin:0 auto;
}
#wrapper {
width:940px;
padding:20px;

margin:0 auto;
overflow:hidden;
}
#header {
width:940px;
height:125px;
}
#header h1 {
float:left;
font-size:18px;
margin-top:20px;
}
ul#main-nav {
margin-left:70px;
margin-top:45px;
float:left;
}
ul#main-nav li {
float:left;
font-family: 'Droid Serif', arial, serif;
font-size:20px;
margin-right:45px;
}
ul#main-nav li a {
float:left;
font-family: 'Droid Serif', arial, serif;
padding-bottom:3px;
}
ul#main-nav li a:hover {
border-bottom:3px solid #B1D3EE;
}
.cat {
width:940px;
overflow:hidden;
border-top:3px solid #b1d3ee;
padding:0 0 15px 0;
margin-top:10px;
}
.cat h2 {
float:left;
margin-top:2px;
margin-bottom:5px;
font-weight:bold;
font-size:20px;
}

.cat p.view-more {
float:right;
margin-top:10px;
}
.cat ul {
clear:both;
}
.cat ul li.last {
margin-right:0;
}
.home-prod-title {
font-size:14px;
color:#3c89c8;
}
.home-prod-price {
font-size:13px;
color:#ea1e79;
font-style:oblique;
line-height:13px;
margin-bottom:20px;
}
.view-more {
font-size:13px;
color:#1b325f;
font-style:oblique;
background:url(images/view_arrow.png) right no-repeat;
padding-right:20px;
}
.cat-home li {
width:300px;
float:left;
overflow:hidden;
margin-right:20px;
}
.cat-home li img {
width:292px;
height:322px;
}

.cat-cat li {
width:220px;
float:left;
overflow:hidden;
margin-right:20px;
min-height:320px;
}
.cat-cat li img {
width:212px;
height:234px;
}
.cat-cat h2 {
  font-size:22px;
}
#Under-50 h2{
  background:url(images/icon_under50.png) 0px 7px no-repeat;
  padding:10px 30px;
}
#Northwest-Rugged h2{
  background:url(images/icon_northwest.png) 0px 7px no-repeat;
  padding:10px 28px;
}
#Cool-Stuff h2{
  background:url(images/icon_cool.png) 0px 7px no-repeat;
  padding:10px 40px;
}
.cat-cat h2#cat-head {
  background-position:0px 8px;  
}
/*---Product Page ----*/
#prod {
width:940px;
border-top:5px solid #b1d3ee;
padding-top: 30px;
}
#prod img.main {
float:left;
margin-bottom:50px;
border:1px solid #ddd;

}
#prod img.main:hover {
border:1px solid #ddd;

}
#prod-info {
width:465px;
float:right;
}
#prod-info p#desc {
margin-top:20px;
line-height:22px;
}
#prod-price {
font-family: 'Droid Serif', arial, serif;
color:#ea1e79;
float:right;
margin-top:-35px;
margin-right:10px;
font-weight:bold;
}
a#buy-button {
font-family: 'Droid Serif', arial, serif;
color:white;
width:102px;
margin-top:20px;
font-size:20px;
font-weight:bold;
display:block;
padding:15px 30px;
background-color:#ea1e79;
overflow:hidden;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
}
a#buy-button:hover {
  background:#da106a;
  
}
#prod-info h2{
    border-bottom: 5px solid #EDF3F9;
    border-top: 5px solid #EDF3F9;
    font-size: 20px;
    padding: 10px 30px 10px 0;
    width: 435px;}
#prod-extra {
float:left;
width:455px;
clear:left;
border-top:5px solid #B1D3EE;
padding:10px 0;
}
#prod-extra h3{
margin-bottom:15px;
color:#1B325F;
}
#prod-extra li {
width:139px;
overflow:hidden;
margin-right:19px;
float:left;
}
#prod-extra li img {
height: 152px;
width: 131px;
}
#prod-extra ul li.last {
margin-right:0;
}
#share-links {
margin-top:5px;
margin-bottom:3px;

}
#comments {
margin-top:20px;
float:right;
width:453px;
border-left:1px solid #ccc;
padding-left:10px;

}
.wallkit_post .wallkit_postcontent {
    -moz-border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0 0 white;
    margin-left: 60px;
    padding: 10px;
    background:#ecf3f9;
  }
/*---footer ----*/
#footer {
	clear:both;
	color:#385078;
	font-size:14px;
	font-family: arial, sans-serif;
}
#footer a{
	text-decoration:none;
	color:#385078;	
	
}
#footer li{
	float:left;
}	
#like-fb a{
	border-right:2px solid #fff;	
	width:150px;
	height:45px;
  text-indent:-9999px;
	padding-right:25px;
	margin:5px 0px 5px 5px;
	background:url(images/fb-button.jpg) no-repeat;
	display:block;
	
}
#text-fb{
	float: right;
  font-family: 'Droid Serif',arial,sans-serif;
  font-size: 15px;
  margin-top: -35px;
  width: 740px;
}
#footer-fb{
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
  
  }
#foot-nav{
	list-style:none;
	padding:30px;
	margin-top:-10px;
}

#foot-nav a{
	padding:30px;
}

#social-nav{
  clear: left;
  float: right;
  font-size: 70%;
  padding: 5px;
}

#social-nav a{
	display:block;
	padding:5px 0px 5px 24px;
	margin-right:12px;
}
a#twit-link {
  background:url(images/footer_twitter.png) no-repeat;
}
a#fb-link {
  background:url(images/footer_facebook.png) no-repeat;
}
a#rss-link {
  background:url(images/footer_rss.png) no-repeat;
}
#top-bar-inner a#join {
  font-family:'Droid Serif', arial, sans-serif;
  color:#FFF;
  font-size:22px;
  text-transform:uppercase;
  float:right;
  display:block;
  padding:6px 20px 7px 40px;
  margin-top:3px;
  -moz-border-radius:5px 5px 0 0;
  -webkit-border-radius:5px 5px 0 0;
  border-radius:5px 5px 0 0;
  margin-right:20px;
  background:url(images/fb_icon_top.png) 10px 8px no-repeat #ea1e79;
  overflow:hidden;
}
#top-bar-inner a#top-phrase {
  font-family:'Droid Serif', arial, sans-serif;
  color:#B1D3EE;
  font-size:13px;
  text-transform:uppercase;
  float:right;
  display:block;
  padding:6px 20px 7px 20px;
  margin-top:6px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  margin-right:20px;
  background:#333;
  border:1px solid #999;
  overflow:hidden;
}
#top-bar-inner img {
  border:none;
}
#top-bar-inner a#top-phrase:hover {
  color:white;
}
p#copyright {
  font-size:11px;
  margin-top:3px;
  margin-left:5px;
}
a#top-banner {
  margin-bottom:30px;
  display:block;
}
a#top-banner img:hover {
  border:3px solid #DDD;
}
#fb-like {
  float:right;
  margin-top:8px;
  width:170px;
  color:white !important;
  margin-right:20px;
 }
.connect_widget td.connect_widget_vertical_center {
   color:white !important; 
   
 }












