<h1>Threadfull</h1>

<% @categories.each do |cat| %>
  <h2><%= cat %></h3>
  <% # @products.find(:category => cat, :limit => 3, :order => "RAND()").each do |pro| %>
  <% Product.random_pros(cat).each do |pro|%>
    
      <p> <%= pro.title %></p>
    
  <% end %>
<% end %>

<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
<fb:like href="http://dotreadydevelopment.com" show_faces="false" width="450" font="arial"></fb:like>
 
<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=132585060131786&amp;xfbml=1">
</script><fb:comments numposts="10" width="425" publish_feed="true"></fb:comments>

<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>