  <div class="cat cat-home">
    <% @categories.each do |cat| %>
    <h2><%= cat.name %></h2>
    <p class="view-more">View More</p>
    <ul>
    <% # @products.find(:category => cat, :limit => 3, :order => "RAND()").each do |pro| %>
    <% products = cat.products.limit(3) %>
    <% products.each do |product|%>
      <li class=" <%= 'last' if product.id == products.last.id %> ">
        <p class="home-prod-title"><%= product.title %></p>
        <p class="home-prod-price">$35</p>
        <%= image_tag "products/" + product.get_thumb %>
      </li>
  <% end %>
  </ul>
<% end %>
</div>