<h1>Threadfull</h1>

<% @categories.each do |cat| %>
  <h2><%= cat %></h3>
  <% # @products.find(:category => cat, :limit => 3, :order => "RAND()").each do |pro| %>
  <% Product.random_pros(cat).each do |pro|%>
    
      <p> <%= pro.title %></p>
    
  <% end %>
<% end %>

