<div id="top-bar">
</div>
<div id="wrapper">
  <div id="header">
    <h1>Threadfull</h1>
    <ul id="main-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">Under $50</a></li>
      <li><a href="#">Northwest Rugged</a></li>
      <li><a href="#">Cool Stuff</a></li>
    </ul>
  </div>
  <div class="cat cat-home">
    <% @categories.each do |cat| %>
    <h2><%= cat %></h2>
    <p class="view-more">View More</p>
    <% # @products.find(:category => cat, :limit => 3, :order => "RAND()").each do |pro| %>
    <% Product.random_pros(cat).each do |pro|%>
    <ul>
      <li>
        <img src="#"/>
        <p class="home-prod-title"><%= pro.title %></p>
        <p class="home-prod-price">$35</p>
      </li>
      <li>
        <img src="#"/>
        <p class="home-prod-title"><%= pro.title %></p>
        <p class="home-prod-price">$35</p>
      </li>
      <li class="last">
        <img src="#"/>
        <p class="home-prod-title"><%= pro.title %></p>
        <p class="home-prod-price">$35</p>
      </li>
    </ul>
  
  <% end %>
<% end %>
</div>
  <div id="footer">
    <div id="footer-fb">
      <p id ="like-fb">Like Threadful on Facebook</p>
      <p id ="text-fb">We like you! You shouljd like us on Facebook for exlcusie offers and awesome awesomeness</p>
    </div>
    <ul id="foot-nav">
      <li><a href="#">Shop</a></li>
      <li><a href="#">Participate</a></li>
      <li><a href="#">Community</a></li>
      <li><a href="#">Info</a></li>
      <li><a href="#">Retail</a></li>
    </ul>
    <ul id="social-nav">
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Facebook</a></li>
      <li><a href="#">RSS</a></li>
    </ul>
  </div>
</div>
